@page "/vehicles"

<div class="form-inline" style="align-items: center;">
    <label class=" sr-only" for="filter-name">Filter</label>
    <input type="text" class="form-control mb-2 mr-sm-2"
           @bind-value="NameFilter"
           @bind-value:event="oninput"
           placeholder="Filter by Name" />
    <button type="button" class="btn btn-danger mb-2" @onclick="Clear"> Clear</button>
</div>

<Pagination TotalPagesQuantity="TotalPageQuantity" CurrentPage="CurrentPage" Radius="2" SelectedPage="SelectedPage" />

<div>
    @if (_Vehicles != null)
    {
        @foreach (var vehicle in _Vehicles)
        {
            <div>@vehicle.Name</div>
            <a href="@($"vehicles/{@vehicle.Name}/{CurrentPage}")">More information</a>
        }
    }
    else
    {
        <div>
            Loading ...
        </div>
    }
</div>