@page "/species"

@using StarWarsAPI5.Components
@using StarWarsSearcher.Entities

<SwapiListDisplayer TItem="Specie" EntityName="species">
    <ItemTemplate>
        <div class="information-box">
            <div style="color: white;"><span style="color: yellow;"> Name: </span> @context.Item.Name</div>
            <div style="color: white;"><span style="color: yellow;"> Classification: </span> @context.Item.Classification</div>
            <div style="color: white;"><span style="color: yellow;"> Skin Colors: </span> @context.Item.SkinColors</div>
            <MoreInformation reference="@($"species/{context.Item.Name}/{context.CurrentPage}")"> More Information </MoreInformation>
        </div>
    </ItemTemplate>
</SwapiListDisplayer>