@page "/species/{Name}/{CurrentPage}"

<div class="flex-container">
    <h3 style="color: yellow;">@Specie.Name</h3>
    <div style="color: white;"><span style="color: yellow;">Designation</span> @Specie.Designation </div>
    <div style="color: white;"><span style="color: yellow;">Average Lifespan</span> @Specie.AverageLifespan </div>
</div>

