@page "/people/{Name}/{currentPage}"

<div>
    <div><span style="color: yellow;">Name:</span><span style="color: white;"> @Character.Name</span></div>
    <div><span style="color: yellow;">Birth Year:</span><span style="color: white;"> @Character.BirthYear</span></div>
    <div>
        <span style="color: yellow;">Films:</span>
        <div style="color: white;">
            @Character.Films
        </div>
    </div>
</div>
