@page "/species"

@using StarWarsAPI5.Components

<div class="form-inline" style="align-items: center;">
    <label class=" sr-only" for="filter-name">Filter</label>
    <input type="text" class="form-control mb-2 mr-sm-2"
           @bind-value="NameFilter"
           @bind-value:event="oninput"
           placeholder="Filter by Name" />
    <button type="button" class="btn btn-primary mb-2" @onclick="Filter"> Filter</button>
    <button type="button" class="btn btn-danger mb-2" @onclick="Clear"> Clear</button>
</div>

<Pagination TotalPagesQuantity="TotalPageQuantity" CurrentPage="CurrentPage" Radius="2" SelectedPage="SelectedPage" />

<div style="display: flex">
    @if (_Species != null)
    {
        @foreach (var specie in _Species)
        {
            <div style="margin: 10px:">
                <div style="color: white;"><span style="color: yellow;"> Name: </span> @specie.Name</div>
                <div style="color: white;"><span style="color: yellow;"> Classification: </span> @specie.Classification</div>
                <div style="color: white;"><span style="color: yellow;"> Skin Colors: </span> @specie.SkinColors</div>
                <MoreInformation reference="@($"species/{@specie.Name}/{CurrentPage}")"> More Information </MoreInformation>
            </div>
        }
    }
    else
    {
        <Loading />
    }
</div>