@page "/starships"

@using StarWarsAPI5.Components

<div class="form-inline" style="align-items: center;">
    <label class=" sr-only" for="filter-name">Filter</label>
    <input type="text" class="form-control mb-2 mr-sm-2"
           @bind-value="NameFilter"
           @bind-value:event="oninput"
           placeholder="Filter by Name" />
    <button type="button" class="btn btn-primary mb-2" @onclick="Filter"> Filter </button>
    <button type="button" class="btn btn-danger mb-2" @onclick="Clear"> Clear</button>
</div>

<Pagination TotalPagesQuantity="TotalPageQuantity" CurrentPage="CurrentPage" Radius="2" SelectedPage="SelectedPage" />

<div class="flex-container">
    @if (_Starships != null)
    {
        @foreach (var starship in _Starships)
        {
    <div class="information-box">
        <div style="color: white;"><span style="color: yellow;">Name: </span> @starship.Name</div>
        <div style="color: white;"><span style="color: yellow;">Model: </span> @starship.Model</div>
        <div style="color: white;"><span style="color: yellow;">Mength: </span> @starship.Length</div>
        <MoreInformation reference="@($"starships/{@starship.Name}/{CurrentPage}")"> More Information </MoreInformation>
    </div>
        }
    }
    else
    {
        <Loading/>
    }
</div>