@page "/starships/{Name}/{CurrentPage}"

<div>
    <h3 style="color: yellow;">@Starship.Name</h3>
    <div style="color: white;"><span style="color: yellow;">Cargo Capacity: </span> @Starship.CargoCapacity</div>
    <div style="color: white;"><span style="color: yellow;">Lenght: </span> @Starship.Length</div>
</div>

