@page "/vehicles/{Name}/{CurrentPage}"

<div>
    <h3 style="color: yellow;" @Vehicle.Name</h3>
    <div style="color: white;"><span style="color: yellow;"> Manufacturer:</span> @Vehicle.Manufacturer</div>
    <div style="color: white;"><span style="color: yellow;"> Crew:</span> @Vehicle.Crew</div>
    <div style="color: white;"><span style="color: yellow;"> Vehicle Class:</span> @Vehicle.VehicleClass</div>
</div>

