@inherits LayoutComponentBase

<div class="page">
    <div>
        <Header/>
        <NavBar />
        @*<img src="images/space.png"/>*@
        <div class="content px-4">
            @Body
        </div>
        <Footer/>
    </div>
</div>
