<div class="navbar-deco">
    <ul class="nav flex-row">
        <li class="nav-item px-3">
            <a class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="films"> Films</a>
        </li>
        <li class="nav-item px-3" style="color: white;">
            <a class="nav-link" href="people"> People</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="planets"> Planets </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="species"> Species </a>
        </li>
        <li class="nav-item px-3" style="color: yellow;">
            <a class="nav-link" href="starships"> Starshipss</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="vehicles"> Vehicles </a>
        </li>
    </ul>
</div>