<div class="form-inline" style="align-items: center;">
    <label class=" sr-only" for="filter-name">Filter</label>
    <input type="text" class="form-control mb-2 mr-sm-2"
           @oninput="@OnInputChange"
           placeholder="Filter by Name" />
    @*<button type="button" class="btn btn-primary mb-2" @onclick="Filter"> Filter</button>*@
    <button type="button" class="btn btn-danger mb-2" @onclick="@OnClear"> Clear</button>
</div>